# Dependencies
node_modules/
lambda/node_modules/

# Terraform
.terraform/
.terraform.lock.hcl
terraform.tfstate
terraform.tfstate.backup
*.tfvars
!example.tfvars

# Build artifacts
dist/

# OS
.DS_Store
